# EditorConfig is awesome: https://EditorConfig.org
# sudo apt install editorconfig
# brew install editorconfig

# top-most EditorConfig file
root = true

# Unix-style newlines with
# end_of_line = lf
[*]
#  a newline ending every file
insert_final_newline = true
# Force space characters for indentation
indent_style = space
# Always indent by 4 characters
indent_size = 4
# Remove whitespace characters at the end of line
trim_trailing_whitespace = true
# https://en.wikipedia.org/wiki/Indentation_style#Allman_style
indent_brace_style = Allman

# 4 space indentation
[*.py]
indent_style = space
indent_size = 4

# # Tab indentation (no size specified)
# [Makefile]
# indent_style = tab
